.contenedor{
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
    min-height: 70vh;

    .contenedor__img,
    .contenedor__qr{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        /* background-color: rgba(174, 64, 64, 0.696); */
        background-color: rgba(93, 92, 92, 0.874);
        border-radius: 30px;
        font-size: 13px;
        border: 5px solid black;
        min-height: 80%;
    }

    .parrafoCafeteria,
    .parrafoCarta{
        font-size: 2rem;
        color: white;
        margin-bottom: 15px;
    }

    .imgCafeteria,
    .qr{
        object-fit: cover;
        width: 80%;
        flex: 1;
        padding: 1rem;
    }
}