.top {
    padding: 0,5rem;
    display:flex;
    justify-content:space-between;
    gap: 1rem;
    border: 1px solid black;
    background-image: url(../img/flechas.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    align-items:center ;

        .logo{
            display: flex;
            flex-direction:column-reverse;
            flex-shrink: 0;
            background-color: white;
            border: 1px solid black;
            margin-top: 1rem;
            margin-left: 2rem;
            margin-bottom: 1rem;
            padding-left: .7rem;
            padding-right: .7rem;
            font-size: 1rem;
            border-radius: 15px;

                h1 > a{
                    color: black;
                    text-decoration: none;
                }

                .sub{
                    font-size: 10px;
                    padding-left: 50px;
                }
            }

        .menu{

                ul{
                    display: flex;
                    list-style-type: none ;
                    flex-wrap: wrap;
                    flex-direction: row;
                    font-size: 15px;

                    .lista{
                        background-color: white;
                        color: black;
                        border: 1px solid black;
                        border-radius: 5px;
                        text-decoration: none;
                        padding: 16px;
                        margin: 10px;
                        border-radius: 50%;
                        align-self: center;
                        justify-self: 15px;
                        transition: 0.5s;

                        &:hover{
                            background-color:black;
                            color:  rgb(230, 226, 226);
                        }
                    }
                }


                }

            }


.menu__boton--abrir{
    display: none;
}

.menu__boton--cerrar{
    display: none;
}            

.nombre{
    background-color:  white;
    border: 1px solid black;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    border-radius: 5px;
}