.mainIndex{
    display: grid;
    place-items: center;
    width: 100vw;
    // height: 100vh;
    min-height: 85vh;

    .texto{
        font-weight: bolder;
        font-size: 50px;
        width:fit-content;
        color:  rgb(230, 226, 226);;
        background-color: black;
        border-radius: 30px;
        padding: 1.5rem;
        justify-self: center;
        align-self: center;

        &>h2{
            font-size: 4rem;
        }

        .texto2{
            font-size: 1rem;
            font-weight:lighter;
            padding-top: 1rem;
            font-family: 'Roboto', sans-serif;
        }
    }
}

