@media (min-width: 553px) and (max-width: 1023px) {

    body{
        background-repeat: repeat-y;
        background-color: white;
    }

    /* Header */

        .top{
            justify-content: space-evenly;
            align-items: center;
        }

        .menu ul{
           @include menu_MQ (0, hidden);
        }
    
        .visible ul{
            @include menu_MQ (1, visible);
        
        }
    
        .top .menu ul{
            flex-direction: column;
    
        }
    
        .top .menu ul .lista{
        background-color: transparent;
        color: rgb(230, 226, 226);
        border: none;
        border-radius: none;
        padding: 16px;
        margin-bottom: 3rem;
        margin: 10px;
        border-radius: 0px;
        justify-self: 15px;
        transition: none;
        width: 100%;
        }
    
        .top .menu ul .lista:hover {
            background-color:transparent;
            color: white;
        }
    
    
      
    
        .menu__boton--abrir,
        .menu__boton--cerrar{
            display:block;
        }
        
    
        .menu__boton--abrir{
            color:white;
            background-color:rgba(93, 92, 92);
            border: 1px solid black;
            border-radius: 10px;
            font-size: 1rem;
            padding: 4px;
            justify-items: flex-end;
            
        }
     
        .menu__boton--cerrar{
            align-self: self-end;
            background-color: transparent;
            border: 0px;
            font-size: 17px;
        }
    
        /* Footer */
        
        .pie{
           justify-content: center;
        }

        /* Quienes somos */
    .quienesSomos{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .quienesSomos .QSimg > img {
        width: 500px;
    }

        /* contacto */

        .mainContacto{
            grid-template-columns: 1fr;
            grid-row: 1fr 1fr;
        }

        .formContainer{
            width: fit-content;
            justify-self: center;
        }
        
        .maps{
            width: fit-content;
            justify-self: center;
        }
}


@media(max-width:552px){

    body{
        background-repeat: repeat-y;
        background-color: white;
    }

    /* Header */
    .top{
    width: 100%;
    }
    
    
    .menu ul{
        @include menu_MQ (0, hidden);
     }
 
     .visible ul{
         @include menu_MQ (1, visible);
     }

    .top .menu ul{
        flex-direction: column;

    }

    .top .menu ul .lista{
    background-color: transparent;
    color: rgb(230, 226, 226);
    border: none;
    border-radius: none;
    padding: 16px;
    margin-bottom: 3rem;
    margin: 10px;
    border-radius: 0px;
    justify-self: 15px;
    transition: none;
    width: 100%;
    }

    .top .menu ul .lista:hover {
        background-color:transparent;
        color: white;
    }


  

    .menu__boton--abrir,
    .menu__boton--cerrar{
        display:block;
    }

    .menu__boton--abrir{
        color:white;
        background-color:rgba(93, 92, 92);
        border: 1px solid black;
        border-radius: 10px;
        font-size: 1rem;
        padding: 4px;
        
    }
 
    .menu__boton--cerrar{
        align-self: self-end;
        background-color: transparent;
        border: 0px;
        font-size: 17px;
    }

    /* Footer */
    
    .pie{
       justify-content: center;
    }

    /* Index */

    .mainIndex {
    
        .texto{
            padding: 1rem;
        
             
            &>h2{
            font-size: 3rem;
            }
        }
    }

    /* Quienes somos */
    .quienesSomos{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .quienesSomos .QSimg > img {
        width: 100%;
    }
    

    /* Panadería */
    .pana2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "img1 img2"
        "img3 img4"
        "img5 img6";

        &>div{
        padding: .7rem;
        }
    }

    /* Cafeteria */
   .contenedor{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
   }
 
    /* Contacto */

    .mainContacto{
        grid-template-columns: 1fr;
        grid-row: 1fr 1fr;
    }

    .contactese__texto{
        padding-left: 1rem;
    }

    label >input{
        color: white;
    }

    .maps{
        width:300px;
        justify-self: center;
    }

    .maps > iframe{
        width: 200px;
    }
    
    }