.pana2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "img1 img2 img3"
    "img4 img5 img6" ;
    column-gap: 2rem;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    min-height: 85vh;

    &> div{
      
        @include tarjetaPanaderia;

        &:hover{
            transform: scale(1.1);
            background-color: rgb(93, 92, 92);
        }

        .parrafo{
            padding-top: 10px;
            color: white;
        }

        img{
            width: 130px;
        }
    }
}


.img1{
    grid-area: img1;
}
.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}
.img4{
    grid-area: img4;
}
.img5{
    grid-area: img5;
}
.img6{
    grid-area: img6;
}
