.quienesSomos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1.5rem;
    margin: 1rem;
    /* width: 100vh;
    height: 100vh; */

    .QSup{
        display: flex; 

        .QScontainer{
            /* background-color: rgba(174, 64, 64, 0.696); */
            background-color: rgba(93, 92, 92, 0.874);
            border-radius: 50px;
            border: 5px solid black;
            display: flex;
            flex-direction: column;
            align-self: center;
            color: white;
            font-size: 1rem;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            
            &> h3{
                font-size: 2em;
                padding: 10px;
                align-self: center;
            }

            &> p{
                /* padding-top: 1.5rem; */
                padding: 15px;
                justify-content: center;
                align-items: center;
            }
        }  
    }
    
    .QSimg{
        align-self: center;
        justify-self: center;

        & > img {
            width: 500px;
            border: 5px solid black;
            border-radius: 50px;
        }
    }
}
