*{
    margin:0 ;
    padding:0 ;
    box-sizing:border-box ;
}

body{
    background-position: center;
    background-image: url(../img/medialunas.png) ;
    background-size:100%;
    background-repeat:no-repeat;
}