$mainColor: rgba(93, 92, 92, 0.874);
$bordo: #ae4040f2;


@mixin tarjetaPanaderia {
    display: flex;
    flex-direction: column-reverse;
    justify-content:start;
    align-items: center;
    flex-grow: 1;
    background-color: $mainColor;
    padding: 1rem;
    border-radius: 30px;
    font-size: 13px;
    border: 5px solid black;
}

@mixin menu_MQ ($opacity, $visibility) {
    display: flex;
            flex-direction: column;
            background-color: $bordo;
            position: absolute;
            gap: 3rem;
            top: 0;
            right: 0;
            bottom: 0;
            padding: 2rem;
            box-shadow:0 0 0 100vmax rgb(0, 0, 0, .5 );
    
            opacity: $opacity;
            visibility: $visibility;
}