@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@100;200&family=Roboto:wght@100&family=Rubik+Mono+One&display=swap');
@import "./Partials/variables";
@import "./Partials/reset";
@import "partials/header";
@import "./Partials/footer";
@import "./Partials/index";
@import "./Partials/quienes_somos";
@import "./Partials/panaderia";
@import "./Partials/cafeteria";
@import "./Partials/contacto";
@import "./Partials/media_queries";

