@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@100;200&family=Roboto:wght@100&family=Rubik+Mono+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-position: center;
  background-image: url(../img/medialunas.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.top {
  padding: 0, 5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid black;
  background-image: url(../img/flechas.jpg);
  background-repeat: repeat-x;
  background-size: contain;
  align-items: center;
  height: 15vh;
}
.top .logo {
  display: flex;
  flex-direction: column-reverse;
  flex-shrink: 0;
  background-color: white;
  border: 1px solid black;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  font-size: 1rem;
  border-radius: 15px;
}
.top .logo h1 > a {
  color: black;
  text-decoration: none;
}
.top .logo .sub {
  font-size: 10px;
  padding-left: 50px;
}
.top .menu ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 15px;
}
.top .menu ul .lista {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  padding: 16px;
  margin: 10px;
  border-radius: 50%;
  align-self: center;
  justify-self: 15px;
  transition: 0.5s;
}
.top .menu ul .lista:hover {
  background-color: black;
  color: rgb(230, 226, 226);
}

.menu__boton--abrir {
  display: none;
}

.menu__boton--cerrar {
  display: none;
}

.nombre {
  background-color: white;
  border: 1px solid black;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  border-radius: 5px;
}

.pie {
  display: flex;
  justify-content: flex-end;
  -o-object-position: bottom;
     object-position: bottom;
}
.pie .Nr {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  padding-top: 15px;
  padding-right: 13px;
}

.redes {
  font-size: 2.5rem;
}

.mainIndex {
  display: grid;
  place-items: center;
  width: 100vw;
  min-height: 85vh;
}
.mainIndex .texto {
  font-weight: bolder;
  font-size: 50px;
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(230, 226, 226);
  background-color: black;
  border-radius: 30px;
  padding: 1.5rem;
  justify-self: center;
  align-self: center;
}
.mainIndex .texto > h2 {
  font-size: 4rem;
}
.mainIndex .texto .texto2 {
  font-size: 1rem;
  font-weight: lighter;
  padding-top: 1rem;
  font-family: "Roboto", sans-serif;
}

.quienesSomos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1.5rem;
  margin: 1rem;
  min-height: 85vh;
}
.quienesSomos .QSup {
  display: flex;
}
.quienesSomos .QSup .QScontainer {
  background-color: rgba(93, 92, 92, 0.874);
  border-radius: 50px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  align-self: center;
  color: white;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.quienesSomos .QSup .QScontainer > h3 {
  font-size: 2em;
  padding: 10px;
  align-self: center;
}
.quienesSomos .QSup .QScontainer > p {
  padding: 15px;
  justify-content: center;
  align-items: center;
}
.quienesSomos .QSimg {
  align-self: center;
  justify-self: center;
}
.quienesSomos .QSimg > img {
  width: 400px;
  border: 5px solid black;
  border-radius: 50px;
}

.pana2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  grid-template-areas: "img1 img2 img3" "img4 img5 img6";
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  min-height: 85vh;
}
.pana2 > div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  align-items: center;
  flex-grow: 1;
  background-color: rgba(93, 92, 92, 0.874);
  padding: 1rem;
  border-radius: 30px;
  font-size: 13px;
  border: 5px solid black;
}
.pana2 > div:hover {
  transform: scale(1.1);
  background-color: rgb(93, 92, 92);
}
.pana2 > div .parrafo {
  padding-top: 10px;
  color: white;
}
.pana2 > div img {
  width: 130px;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.img5 {
  grid-area: img5;
}

.img6 {
  grid-area: img6;
}

.contenedor {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 2rem;
  min-height: 85vh;
}
.contenedor .contenedor__img,
.contenedor .contenedor__qr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(93, 92, 92, 0.874);
  border-radius: 30px;
  font-size: 13px;
  border: 5px solid black;
  min-height: 80%;
}
.contenedor .parrafoCafeteria,
.contenedor .parrafoCarta {
  font-size: 2rem;
  color: white;
  margin-bottom: 15px;
}
.contenedor .imgCafeteria,
.contenedor .qr {
  -o-object-fit: cover;
     object-fit: cover;
  width: 80%;
  flex: 1;
  padding: 1rem;
}

.mainContacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.mainContacto .formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(93, 92, 92, 0.874);
  border: 5px solid black;
  border-radius: 30px;
  margin: 3rem;
}
.mainContacto .formContainer .contactese {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContacto .formContainer .contactese > p {
  font-size: 2rem;
  color: white;
}
.mainContacto .formContainer form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1.5rem;
}
.mainContacto .formContainer form .boton {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.3rem;
  margin-top: 0.5rem;
  background-color: white;
  color: black;
  border: 1px solid black;
}
.mainContacto .maps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(93, 92, 92, 0.874);
  border: 5px solid black;
  border-radius: 30px;
  margin: 0.5rem;
  padding: 1rem;
}
.mainContacto .maps > div {
  display: flex;
  align-items: center;
}
.mainContacto .maps > div > p {
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
  padding: 1rem;
}
.mainContacto .maps > div > i {
  color: white;
  font-size: 1.5rem;
  padding-bottom: 10px;
  padding-right: 15px;
}

@media (min-width: 553px) and (max-width: 1023px) {
  /* Header */
  .top {
    justify-content: space-evenly;
    align-items: center;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    background-color: rgba(174, 64, 64, 0.9490196078);
    position: absolute;
    gap: 3rem;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
  }
  .visible ul {
    display: flex;
    flex-direction: column;
    background-color: rgba(174, 64, 64, 0.9490196078);
    position: absolute;
    gap: 3rem;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
  }
  .top .menu ul {
    flex-direction: column;
  }
  .top .menu ul .lista {
    background-color: transparent;
    color: rgb(230, 226, 226);
    border: none;
    border-radius: none;
    padding: 16px;
    margin-bottom: 3rem;
    margin: 10px;
    border-radius: 0px;
    justify-self: 15px;
    transition: none;
    width: 100%;
  }
  .top .menu ul .lista:hover {
    background-color: transparent;
    color: white;
  }
  .menu__boton--abrir,
  .menu__boton--cerrar {
    display: block;
  }
  .menu__boton--abrir {
    color: white;
    background-color: rgb(93, 92, 92);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1rem;
    padding: 4px;
    justify-items: flex-end;
  }
  .menu__boton--cerrar {
    align-self: self-end;
    background-color: transparent;
    border: 0px;
    font-size: 17px;
  }
  /* Footer */
  .pie {
    justify-content: center;
  }
  /* contacto */
  .mainContacto {
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr;
  }
  .formContainer {
    width: -moz-fit-content;
    width: fit-content;
    justify-self: center;
  }
  .maps {
    width: -moz-fit-content;
    width: fit-content;
    justify-self: center;
  }
}
@media (max-width: 552px) {
  body {
    background-repeat: repeat-y;
    background-color: white;
  }
  /* Header */
  .top {
    width: 100%;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    background-color: rgba(174, 64, 64, 0.9490196078);
    position: absolute;
    gap: 3rem;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
  }
  .visible ul {
    display: flex;
    flex-direction: column;
    background-color: rgba(174, 64, 64, 0.9490196078);
    position: absolute;
    gap: 3rem;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
  }
  .top .menu ul {
    flex-direction: column;
  }
  .top .menu ul .lista {
    background-color: transparent;
    color: rgb(230, 226, 226);
    border: none;
    border-radius: none;
    padding: 16px;
    margin-bottom: 3rem;
    margin: 10px;
    border-radius: 0px;
    justify-self: 15px;
    transition: none;
    width: 100%;
  }
  .top .menu ul .lista:hover {
    background-color: transparent;
    color: white;
  }
  .menu__boton--abrir,
  .menu__boton--cerrar {
    display: block;
  }
  .menu__boton--abrir {
    color: white;
    background-color: rgb(93, 92, 92);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1rem;
    padding: 4px;
  }
  .menu__boton--cerrar {
    align-self: self-end;
    background-color: transparent;
    border: 0px;
    font-size: 17px;
  }
  /* Footer */
  .pie {
    justify-content: center;
  }
  /* Index */
  .mainIndex .texto {
    padding: 1rem;
  }
  .mainIndex .texto > h2 {
    font-size: 3rem;
  }
  /* Quienes somos */
  .quienesSomos {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .quienesSomos .QSimg > img {
    width: 100%;
  }
  /* Panadería */
  .pana2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6";
  }
  .pana2 > div {
    padding: 0.7rem;
  }
  /* Cafeteria */
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  /* Contacto */
  .mainContacto {
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr;
  }
  .contactese__texto {
    padding-left: 1rem;
  }
  label > input {
    color: white;
  }
  .maps {
    width: 300px;
    justify-self: center;
  }
  .maps > iframe {
    width: 200px;
  }
}/*# sourceMappingURL=main.css.map */